.top{
  display:block;
  margin:0px auto;
}

.logo{
  display:block;
  height:100px;
  width:200px;
}

body{
  margin:0;
  padding:0;
  background: #000 url(http://ppt.cc/glPd@.jpg) center center fixed no-repeat;
 -moz-background-size: cover;
  background-size: cover;
  margin-bottom:80px;
}

.title{
  font-size:0.5cm;
  height:100px;
  width:460px;
  margin-top:5px;
  margin-left:auto;
  margin-right:auto;
}

.story{
  width:800px;
  color:blue;
  margin-left:auto;
  margin-right:auto;
}

.video{
  width:420px;
  color:blue;
  margin-left:auto;
  margin-right:auto;
}

.picture{
  width:550px;
  color:blue;
  margin-left:auto;
  margin-right:auto;
}

.gotop {
  
  position: fixed;
  right: 50px;
  bottom: 50px;    
  padding: 10px 15px;    
  font-size: 20px;
  color: orange;
  cursor: pointer;
}


h1{
  display:block;
  margin:0px auto;
  width:900px;
}

table, td, tr, th{
  color:blue;
  margin:auto;
  width:1250px;
}

th, td{
  border:1px solid black;
  width:100px;
  height:20px;
}

table{
  border:3px double white;
}


footer {
  
  text-align:center;
}

footer ul li {
  width: 200px;
  display: inline-block;
}
